<!-- **Top-Menu** -->
    	<div id="top-menu">
        	<ul class="menu">
            	<li class="current_page_item"> <a href="<?php echo $this->webroot; ?>" title=""> <span> Its home </span> Home </a>                   
                    <!--<ul>
                    	<li> <a href="index-v1.html" title=""> Home II Revolution slider </a>  </li>  
                    </ul>  -->                                
                </li>                                                        
                <!-- <li> <a href="aboutus.html" title=""> <span> Who we are </span> About Us </a> 
                	<ul>
                    	<li> <a href="htmlstyles.html" title=""> HTML Styles </a>  </li>
                        <li> <a href="popular-procedures.html" title=""> Popular Procedures </a>  </li>
                        <li> <a href="404.html" title=""> 404 </a>  </li>
                    </ul>                
                </li> -->
                <li> <a href="<?php echo $this->webroot; ?>pages/services" title=""> <span> What we offer </span> Services </a> 
                	<!-- <ul>
                    	<li> <a href="services.html" title=""> Fullwidth </a>  </li>
                        <li> <a href="services-with-sidebar.html" title=""> With Sidebar </a>  </li>
                    </ul>   -->
                </li>
               <!--  <li> <a href="therapists.html" title=""> <span> Know us </span> Therapists </a> </li>
                <li> <a href="blog.html" title=""> <span> What's up </span> Blog </a> </li>
                <li> <a href="gallery-fourcolumn.html" title=""> <span> Visual look </span> Gallery </a> 
                
                	<ul>
                        <li> <a href="gallery-fourcolumn.html" title=""> Four Column </a> 
                            <ul>
                                <li> <a href="gallery-fourcolumn.html" title=""> Without Sidebar </a> </li>
                                <li> <a href="gallery-fourcolumn-with-sidebar.html" title=""> With Sidebar </a> </li>
                            </ul>
                        </li>
                        <li> <a href="gallery-threecolumn.html" title=""> Three Column </a> 
                            <ul>
                                <li> <a href="gallery-threecolumn.html" title=""> Without Sidebar </a> </li>
                                <li> <a href="gallery-threecolumn-with-sidebar.html" title=""> With Sidebar </a> </li>
                            </ul>
                        </li>
                        <li> <a href="gallery-twocolumn.html" title=""> Two Column </a> 
                            <ul>
                                <li> <a href="gallery-twocolumn.html" title=""> Without Sidebar </a> </li>
                                <li> <a href="gallery-twocolumn-with-sidebar.html" title=""> With Sidebar </a> </li>
                            </ul>
                        </li>
                    </ul>
                
                </li> -->
                <li> <a href="<?php echo $this->webroot; ?>pages/book_now" title=""> <span> Why the wait </span> Book Now </a> </li>
                <li> <a href="<?php echo $this->webroot; ?>pages/location" title=""> <span> We are here </span> Location </a> </li>
            </ul>        	
        </div><!-- **Top-Menu - End** -->
        