@charset "utf-8";
/* CSS Document */

@import "css/reset.css";

/*----*****---- << General >> ----*****----*/
	
	body {  background:#fffae4 url(images/top-bg.jpg) repeat-x; font:normal 12px Tahoma, Geneva, sans-serif; color:#4e4635; }
	
	/*----*****---- << Headings >> ----*****----*/
	
	h1,h2,h3,h4,h5,h6{ font-weight: normal; color:#322f20; }
	h1, h2, h3, h4 { font-family:'Oswald', sans-serif; }
	
	h1{ font-size:26px; line-height:30px; margin-bottom:20px; text-transform:uppercase; }
	h2{ font-size:20px; line-height:26px; margin-bottom:15px;  }
	h3{ font-size:18px; line-height:20px; margin-bottom:15px;  }
	h4{ font-size:16px; line-height:15px; margin-bottom:15px;  }
	h5{ font-size:14px; line-height:15px; margin-bottom:10px;  }
	h6{ font-size:12px; line-height:15px; margin-bottom:10px;  }
	
	
	h1.title, h2.title, h3.title, h4.title, h5.title, h6.title { background:url(images/title-border.png) bottom repeat-x; float:left; width:100%; line-height:45px; color:#fffae4; text-transform:uppercase; text-shadow:-1px -1px 0px #634e37; padding:0px 0px 5px; margin:0px 0px 30px; }
	h1.title span, h2.title span, h3.title span, h4.title span, h5.title span, h6.title span { background:url(images/title-bg.jpg) repeat; display:block; padding:0px 10px; }
	
	h2.title { line-height:40px; }
	h3.title { line-height:35px; }
	h4.title { line-height:30px; }
	h5.title { line-height:30px; }
	h6.title { line-height:30px; }
	
	
	/*----*****---- << Text Elements >> ----*****----*/
	
	a{ text-decoration:none; color:#687719; }
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover,h5 a:hover, h6 a:hover{ text-decoration:none; }
	a img{ border:none; }
	
	img { max-width:100%; height:auto; }
	
	strong{ font-weight: bold; }
	em{ font-style: italic; }
	
	p { line-height:20px; margin-bottom:10px; }	
	ul, ol, pre, code{ margin-bottom:20px; }
	
	ul{ list-style-type:circle; list-style-position:inside; }
	
	ol{ list-style-type:decimal; list-style-position:outside; padding-left:20px; padding-top:10px; }
	ol li { padding-bottom:10px; }
	ol li ol { margin-bottom:0px; list-style-type:lower-alpha; }
	ol ol ol { margin-bottom:0px; list-style-type:lower-roman; }
	
	
	blockquote{ line-height:20px; color:#4e4635; font-style:italic; border:1px solid #cfc89d; background:#e5deb0 url(images/quote.png) 10px 20px no-repeat; padding:15px 10px 20px 70px; margin:10px 0px 10px; float:left; }
	blockquote span{ color:#666666; }
	blockquote p { margin-bottom:0px; }
	
	blockquote.type2 { background-image:url(images/quote2.png); padding-left:80px; }
	blockquote.type3 { background-image:url(images/quote3.png); padding-left:80px; }
	blockquote.type4 { background-image:url(images/quote4.png); }
	
	pre, code{ border-left:5px solid #C4BC89; display:block; padding:10px; font-size:11px; font-family: monospace; background-color:#E5DEB0; }
	
	hr{ border:none; height:1px; margin:30px 0; background-color:#efefef; color:#efefef; }
	
	/* due to IE <HR> margin bugs I had to made classed and apply them to div to achieve the effect of a <HR> */
	
	.hr{ background:url(images/splitter.jpg) repeat-x; width:100%; height:6px; clear:both; float:left; margin:30px 0; }
	.hr_invisible { float:left; width:100%; margin:25px 0px; }
	
	.clear { float:none; clear:both; margin:0px; padding:0px; }
	
	/*----*****---- << Tables >> ----*****----*/
	
	table{ border-collapse:separate; border-spacing:0; border-top-width:5px; margin-bottom:20px; width:100%; clear:both;  }
	th{ background:url(images/table-head.jpg) repeat; padding:10px 15px; font-size:16px; font-family:'Oswald', sans-serif; color:#fffae4; text-shadow:-1px -1px 0px #634e37; border-bottom:1px solid #fffae4; }
	td{ padding:13px 15px; background:#fdf0d5; }
	tr.even td{ background:#f5e7ca; }
		
	
	/*----*****---- << Buttons >> ----*****----*/
	
	.button { color:#fffae4; text-transform:uppercase; font-family:'Oswald', sans-serif; float:left; }
	
	.button:hover { -webkit-transition: opacity 0.5s; -moz-transition:opacity 0.5s; -o-transition:opacity 0.5s;  opacity:0.8; text-decoration:none; }
	
	.button.small { font-size:16px; padding:6px 20px 5px; }
	.button.medium { font-size:18px; padding:9px 20px 8px; }
	.button.big { font-size:24px; padding:7px 29px 6px; }
	
	.button.shape { background-image:none !important; text-transform:none; font-size:15px; padding:6px 10px 6px 15px; position:relative; margin-right:10px;  }
	.button.shape span { display:block; position: absolute; left:100%; top:0px; width: 0; height: 0; border-bottom:17px solid transparent; border-top:17px solid transparent; behavior:url(PIE.htc); }
	
	.button.shape.left { margin-left:10px; padding:6px 14px 6px 9px; }
	.button.shape.left span { left:-10px; border-left:0px !important; }
	
	.button.shape.left.black span { border-right:10px solid #252b2e; }
	.button.shape.left.green span { border-right:10px solid #859e1a; }
	.button.shape.left.red span { border-right:10px solid #a03934; }
	.button.shape.left.brown span { border-right:10px solid #806a51; }
	.button.shape.left.blue span { border-right:10px solid #3577a0; }
	.button.shape.left.orange span { border-right:10px solid #b36b22; }
	.button.shape.left.pink span { border-right:10px solid #963a7b; }
	.button.shape.left.yellow span { border-right:10px solid #b99942; }
	.button.shape.left.cyan span { border-right:10px solid #21b3b3; }
	
	.button.shape.black span { border-left:10px solid #252b2e; }
	.button.shape.green span { border-left:10px solid #859e1a; }
	.button.shape.red span { border-left:10px solid #a03934; }
	.button.shape.brown span { border-left:10px solid #806a51; }
	.button.shape.blue span { border-left:10px solid #3577a0; }
	.button.shape.orange span { border-left:10px solid #b36b22; }
	.button.shape.pink span { border-left:10px solid #963a7b; }
	.button.shape.yellow span { border-left:10px solid #b99942; }
	.button.shape.cyan span { border-left:10px solid #21b3b3; }
	
	.button.black { background:#252b2e url(images/btn-black-bg.jpg) repeat; text-shadow:-1px -1px 0px #000000; }
	.button.green { background:#859e1a url(images/btn-green-bg.jpg) repeat; text-shadow:-1px -1px 0px #596a13; }
	.button.red { background:#a03934 url(images/btn-red-bg.jpg) repeat; text-shadow:-1px -1px 0px #6b1313; }
	.button.brown { background:#806a51 url(images/btn-brown-bg.jpg) repeat; text-shadow:-1px -1px 0px #634e37; }
	.button.blue { background:#3577a0 url(images/btn-blue-bg.jpg) repeat; text-shadow:-1px -1px 0px #385363; }
	.button.orange { background:#b36b22 url(images/btn-orange-bg.jpg) repeat; text-shadow:-1px -1px 0px #634e38; }
	.button.pink { background:#963a7b url(images/btn-pink-bg.jpg) repeat; text-shadow:-1px -1px 0px #633756; }
	.button.yellow { background:#b99942 url(images/btn-yellow-bg.jpg) repeat; text-shadow:-1px -1px 0px #635838; }
	.button.cyan { background:#21b3b3 url(images/btn-cyan-bg.jpg) repeat; text-shadow:-1px -1px 0px #386363; }
	
	.big-ico-button { width:210px; height:80px; float:left; font-family:'Niconne', cursive; line-height:25px; font-size:26px; display:table; margin:10px 15px 0px 0px; padding:0px 0px 0px 10px; }
	.big-ico-button:hover { text-decoration:none; -webkit-transition: opacity 0.5s; -moz-transition:opacity 0.5s; -o-transition:opacity 0.5s;  opacity:0.9; text-decoration:none; }
	.big-ico-button span { display:table-cell; vertical-align:middle; padding-left:80px; padding-right:5px; }
	
	.big-ico-button.red { background:url(images/red-ico-btn.png) no-repeat; color:#332521; text-shadow:1px 1px 0px #f3cfbb; }	
	.big-ico-button.green { background:url(images/green-ico-btn.png) no-repeat; color:#fffae4; text-shadow:1px 1px 0px #515c18; }
	.big-ico-button.pink { background:url(images/pink-ico-btn.png) no-repeat; color:#33212d; text-shadow:1px 1px 0px #f3cfbb; }
	.big-ico-button.brown { background:url(images/brown-ico-btn.png) no-repeat; color:#332a21; text-shadow:1px 1px 0px #f3cfbb; }
	
	.big-ico-button.red.book span { background:url(images/book-ico-red.png) left center no-repeat; }
	.big-ico-button.green.book span { background:url(images/book-ico-green.png) left center no-repeat; }
	.big-ico-button.pink.book span { background:url(images/book-ico-pink.png) left center no-repeat; }
	.big-ico-button.brown.book span { background:url(images/book-ico-brown.png) left center no-repeat; }
	
	.big-ico-button.red.leaf span { background:url(images/leaf-ico-red.png) left center no-repeat; }
	.big-ico-button.green.leaf span { background:url(images/leaf-ico-green.png) left center no-repeat; }
	.big-ico-button.pink.leaf span { background:url(images/leaf-ico-pink.png) left center no-repeat; }
	.big-ico-button.brown.leaf span { background:url(images/leaf-ico-brown.png) left center no-repeat; }
	
	.big-ico-button.red.heart span { background:url(images/heart-ico-red.png) left center no-repeat; }
	.big-ico-button.green.heart span { background:url(images/heart-ico-green.png) left center no-repeat; }
	.big-ico-button.pink.heart span { background:url(images/heart-ico-pink.png) left center no-repeat; }
	.big-ico-button.brown.heart span { background:url(images/heart-ico-brown.png) left center no-repeat; }
	
	.big-ico-button.red.flower span { background:url(images/flower-ico-red.png) left center no-repeat; }
	.big-ico-button.green.flower span { background:url(images/flower-ico-green.png) left center no-repeat; }
	.big-ico-button.pink.flower span { background:url(images/flower-ico-pink.png) left center no-repeat; }
	.big-ico-button.brown.flower span { background:url(images/flower-ico-brown.png) left center no-repeat; }
	
	.big-ico-button.red.star span { background:url(images/star-ico-red.png) left center no-repeat; }
	.big-ico-button.green.star span { background:url(images/star-ico-green.png) left center no-repeat; }
	.big-ico-button.pink.star span { background:url(images/star-ico-pink.png) left center no-repeat; }
	.big-ico-button.brown.star span { background:url(images/star-ico-brown.png) left center no-repeat; }
	
	/*----*****---- << Forms >> ----*****----*/
	
	label{ font-size:14px; color:#4e4635; }
	label span.required{ color:#ff0000; }
	
	fieldset{ padding:15px; margin:0 0 20px 0; border:1px solid #efefef; }
	legend{ font-weight: bold; }
	
	input[type=text], input[type=password], input.text, textarea{ background-color:#fbf2ce; border:1px solid #bbaf9b; padding:17px 10px; font:normal 12px Tahoma, Geneva, sans-serif; color:#4e4635; width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
	input[type=text]:focus, input[type=password]:focus, input.text:focus, textarea:focus{ border-color:#617b00; }
	select{ background-color:#fbf2ce; border:1px solid #bbaf9b; padding:10px; }
	
	input[type=submit] { background:url(images/btn-bg.jpg) repeat; padding:4px 17px; color:#fffae4; text-transform:uppercase; text-shadow:-1px -1px 0px #634e37; border:none; font:normal 18px 'Oswald', sans-serif; cursor:pointer; margin-top:10px; float:right; }
	input[type=submit]:hover { background:url(images/btn-bg-hover.jpg) repeat; }	
	
	input[type=text], input[type=password], input.text, textarea, select{ margin:10px 0; }
	select { -webkit-appearance:none; -moz-appearance:none; }
	
	.enquiry-form { float:left; width:100%; }
	
	textarea{ width:100%; height:88px; padding:15px 10px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
	
	/*----*****---- << Images >> ----*****----*/
	
	img.size-auto, img.size-large, img.size-full, img.size-medium { max-width: 100%; height: auto; }
	.alignleft, img.alignleft { display: inline; float: left; margin-right: 20px; }
	.alignright, img.alignright { display: inline; float: right; margin-left: 20px; }
	.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
	img.alignleft, img.alignright, img.aligncenter { margin-bottom:20px; }
	
	.rounded-img { width:92%; height:92%; display:block; margin-bottom:20px; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; behavior:url(PIE.htc); }	
	.rounded-img img { display:block; width:100%; border-radius:220px; -moz-border-radius:220px; -webkit-border-radius:220px; behavior:url(PIE.htc); }
	
	.border { border:8px solid #ebaa98; display:block; -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; behavior:url(PIE.htc); }
	.border:hover { border:8px solid #a06c5d; }
	
	.green-border { border:5px solid #617b00; display:block; line-height:0; }
	
	/*----*****---- << Columns >> ----*****----*/
	
	.column { margin:0px 2% 0px 0px; float:left; }
	.column.last { margin-right:0px; }
	
	.one-fourth { width:23.4%; }
	.one-half { width:48.9%; }
	.one-third { width:31.9%; }
	.three-fourth { width:74.5%; }	
	.two-third { width:66%; }
	
	.one-half img, .one-third img, .one-fourth img, .three-fourth img, .two-third img { max-width:100%; }
	
	.no-margin { margin-bottom:0px; margin-right:0.11%; }                
	.no-margin.one-third { width:33.2%; }
	.no-margin.two-third { width:66%; }        
	.no-margin.one-fourth { width:24.9%; }
	.no-margin.one-half { width:49.9%; }
	
	/*----*****---- << Lists >> ----*****----*/
	
	ul.flower-bullet { clear:both; list-style-type:none; list-style-position:outside; }	
	ul.flower-bullet li { padding-left:20px; display:block; padding-bottom:10px; }
	ul.flower-bullet li a { color:#4e4635; text-decoration:underline; }
	ul.flower-bullet li a:hover { color:#687719; }
	
	ul.flower-bullet ul { clear:both; margin:15px 0px 0px; }
	ul.flower-bullet ul li:last-child { padding-bottom:5px; }
	
	ul.flower-bullet.green li { background:url(images/bullet-green.png) left 2px no-repeat; }
	ul.flower-bullet.sandal li { background:url(images/bullet-sandal.png) left 2px no-repeat; }
	
	ul.flower-bullet.brown li { background:url(images/bullet-brown.png) left 2px no-repeat; }
	ul.flower-bullet.pink li { background:url(images/bullet-pink.png) left 2px no-repeat; }
	ul.flower-bullet.orange li { background:url(images/bullet-orange.png) left 2px no-repeat; }
	
	ul.flower-bullet.tick li { background:url(images/bullet-tick.png) left top no-repeat; }
	ul.flower-bullet.arrow li { background:url(images/bullet-arrow.png) left top no-repeat; }
	ul.flower-bullet.arrow2 li { background:url(images/bullet-arrow2.png) left top no-repeat; }
	ul.flower-bullet.star li { background:url(images/bullet-star.png) left top no-repeat; }
	
	/*----*****---- << Widgets >> ----*****----*/
	
	.widget ul li { display: block; float: left; padding-bottom:12px; padding-left:26px; clear:both; }
	
	.widget.widget_recent_entries ul { list-style-type:none; }
	.widget.widget_recent_entries ul li { display:block; float:left; width:100%; padding:0px; background:none; }
	.widget.widget_recent_entries img { border:3px solid #a19680; float:left; margin-right:13px; }
	.widget.widget_recent_entries img:hover { border:3px solid #617b00; }
	.widget.widget_recent_entries ul li { margin-bottom:20px; }
	.widget.widget_recent_entries ul li p { margin:0px; }
	
	.sidebar .widget.tweetbox ul li, #footer .widget.tweetbox ul li { background:none; padding-left:0px; line-height:20px; width:200px; }
	.widget.tweetbox ul li .tweet-time, .widget.tweetbox ul li a { color:#728b23; }
	
	.widget ul { margin-bottom:10px; }
	.widget ul ul { margin-top:20px; }
	.widget_categories ul li { position:relative; float:none; }
	.widget_categories ul li a { padding-right:15px; }
	.widget_categories ul li a span { position:absolute; right:0px; }
	
	.widget ul.contact-details { margin-bottom:20px; float:left; width:100%; }
	.widget ul.contact-details li { margin:0px; display:block; clear:both; margin-bottom:10px; float:left; background:none !important; padding:0px; }
	.widget ul.contact-details span { text-align:center; float:left; margin:4px 2% 0px 0px; width:10%; }	
	.widget ul.contact-details p { float:left; margin-bottom:0px; width:88%; }
	.widget ul.contact-details p a { text-decoration:underline; }	
	.widget ul.contact-details span.address { background:url(images/addr-ico.png) center no-repeat; height:16px; }
	.widget ul.contact-details span.mail { background:url(images/mail-ico.png) center no-repeat; height:11px; }
	.widget ul.contact-details span.phone { background:url(images/phone-ico.png) center no-repeat; height:11px; }
	
/*----*****---- << Layout >> ----*****----*/

	/*----*****---- << Container >> ----*****----*/

	.container { width:960px; margin:0 auto; }
	.slider-container { width:1200px; margin:0 auto; }
	.main-container { width:940px; margin:0 auto; }
	
	/*----*****---- << Header >> ----*****----*/
	
	#header { background:url(images/header.jpg) left 40px repeat-x; float:left; width:100%; border-bottom:5px solid #0d0902; }	
	
	
	#top-menu { float:left; background:url(images/menu-bg.jpg) repeat-x center bottom; width:100%; height:95px; z-index:9999; position:relative; }
	ul.menu { float:left; width:100%; height:90px; border-left:1px solid #322f20; border-right:1px solid #322f20; padding:0px 30px; margin:0px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
	ul.menu li { display:inline; float:left; height:90px; padding:0px 25px 0px 0px; position:relative; }
	ul.menu li a { font-weight:400; font-size:20px; font-family:'Oswald', sans-serif; color:#fffae4; text-transform:uppercase; padding:0px 0px 24px; float:left; }
	ul.menu li a span { font:normal 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#c0b891; text-transform:none; display:block; padding:22px 0px 0px; }
	ul.menu li a:hover { text-decoration:none; }
	ul.menu li.current_page_item, ul.menu li:hover { border-bottom:5px solid #b79a65; }
	ul.menu li.current_page_item a span { background:url(images/menu-active-arrow.png) left top no-repeat; }	
	
	ul.menu ul { position:absolute; display:none; width:185px; padding:5px 0px; top:95px; background:#b89a62 url(images/dropdown-menu.jpg) repeat; left:0px; border-bottom:5px solid #967d4f; }
	ul.menu li ul li { padding:0px; margin:0px; height:auto; border:none; padding:0px; }
	ul.menu li ul li:hover { border:none; }
	ul.menu li ul li a { width:165px; height:auto; float:left; line-height:24px; padding:5px 15px; margin:0px; font-size:14px; }
	ul.menu li ul li a:hover, ul.menu ul li:hover a { color:#644814; }	
	ul.menu li ul li:hover ul li:hover a { color:#644814; }	
	ul.menu li ul li:hover ul li a, ul.menu li ul li:hover ul li:hover ul li a { color:#fffae4; }
	ul.menu li ul li:hover ul li a:hover, ul.menu li ul li:hover ul li:hover ul li a:hover { color:#644814; }	
	ul.menu li ul li ul { border-top:none; }
	ul.menu li ul li ul li { background:url(images/dropbg.png); }
	ul.menu ul ul { top:auto; }	
	ul.menu li ul ul { left:185px; margin:0px 0 0 0px; }
	ul.menu li:hover ul ul, ul.menu li:hover ul ul ul, ul.menu li:hover ul ul ul ul { display:none; }
    ul.menu li:hover ul, ul.menu li li:hover ul, ul.menu li li li:hover ul, ul.menu li li li li:hover ul { display:block; }	
	
	ul.menu li ul li.current_page_item a, ul.menu li ul li ul li.current_page_item a { color: #644814; }
	ul.menu li ul li.current_page_item { border-bottom:none; }
	
	#logo { float:left; margin:18px 0px 0px; }
	
	#searchform { float:right; margin:60px 0px 0px; }
	#searchform fieldset { border:none; background:#2e3338; padding:1px; }
	#searchform input[type="text"] { border:none; background:#fbf2ce; padding:13px 12px; float:left; margin:0px; width:165px; font:normal 12px Tahoma, Geneva, sans-serif; color:#2e3338; transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -moz-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -webkit-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -o-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;	behavior:url(PIE.htc); }
	#searchform input[type="text"]:hover, #searchform input[type="text"]:focus { width:220px; }
	#searchform input[type="submit"] { background:url(images/search.png) no-repeat; width:27px; height:29px; float:left; border:none; margin:5px 6px; padding:0px; display:block; }
	
	#top-menu .responsive-nav { background-color: #322f20; background-image: url("images/responsive-nav-bg.png"); background-position: right center;background-repeat: no-repeat; border-color: #322f20 #322f20 #617b00; border-image: none; border-style: solid; border-width: 1px 1px 5px; color: #fffae4; cursor: pointer; font-size: 14px; margin: 20px 0 0; padding: 10px 11px 10px 10px; width: 100%; }
	.responsive-nav { display:none; }
	
	/*----*****---- << Home Slider >> ----*****----*/
	
	#home-slider { width:100%; clear:both; background:#659c28 url(images/slider-bg.jpg) center top no-repeat; }
	
	.slider-wrapper {  display:block; width:1200px; height:555px; border-bottom:5px solid #2c3c1a; background:#5fa023 url(images/loading.gif) 50% 50% no-repeat; box-shadow:0px 0px 5px #181d13; -moz-box-shadow:0px 0px 5px #181d13; -webkit-box-shadow:0px 0px 5px #181d13; position:relative; behavior:url(PIE.htc); }
	
	.rev_slider_wrapper { position:relative; }
	.rev_slider_wrapper .tp-button.darkgrey.small { background: url("images/slider-readmore.png") no-repeat scroll right center rgba(0, 0, 0, 0); box-shadow: none; color: #fffae4 !important; float: left; font-size: 12px; font-weight: normal; height: 30px; line-height: 30px !important; padding: 0 12px 0 0; }
	.rev_slider_wrapper .tp-button.darkgrey.small span { background: none repeat scroll 0 0 #361f0f; display: block; height: 30px; padding: 0 22px; }
	
	.slider img { max-width:100%; height:auto; }
	
	/*----*****---- << Main >> ----*****----*/
	
	#main { clear:both; width:100%; margin:0px; float:left; }
	.content { width:700px; margin-right:20px; float:left; }
	.content-full-width { width:100%; margin-right:0px; }
	.sidebar { width:220px; float:right; }
	
		/*----*****---- << Home >> ----*****----*/
				
		.home #main { background:url(images/content-bg.jpg) center top repeat-x; width:100%; padding:105px 0px 0px; margin:-55px 0px 0px; }
		.readmore { background:#bfb092 url(images/readmore.png) center no-repeat; width:50px; height:50px; display:block; -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; behavior:url(PIE.htc); }
		.readmore:hover { background-color:#7d674e; }
		
			/*----*****---- << Home Services >> ----*****----*/
			
			.content-center-aligned { text-align:center; width:100%; float:left; }
			.content-center-aligned a { width:100%; display:block; margin-bottom:25px; color:#322f20; -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; behavior:url(PIE.htc); }
			span.arctext { margin-bottom:5px; display:block; font-size:30px; font-family:'Niconne', cursive; }
			.content-center-aligned a:hover { color:#7d8d29; }
			.home .content-center-aligned p { margin-bottom:0px; }
			
			/*----*****---- << Popular Procedures >> ----*****----*/
			
			.box-content { background:#eadbbc; border-bottom:5px solid #bfb092; width:99.9%; position:relative; float:left; }
			.box-content img.alignleft { margin-right:10px; margin-bottom:0px; }
			.box-content img.alignright { margin-left:10px; margin-bottom:0px; }
			
			.box-content h2 { margin-top:20px; padding:0px 10px; }		
			.box-content p { padding:0px 10px; }
				
			.box-content a.readmore { position:absolute; right:0px; bottom:0px; }			
			
			.box-content a.readmore.left { left:0px; }
			
			.notice { font-size:22px; color:#4e4635; line-height:40px; font-family:'Niconne', cursive; margin:-10px 0px 10px; clear:both; float:left; width:100%; }
			.notice span.right { color:#8a2626; }
			
	/*----*****---- << Breadcrumb >> ----*****----*/
	
	.breadcrumb { width:100%; float:left; height:55px; margin:0px 0px 45px; display:block; text-transform:uppercase; text-shadow:-1px -1px 0px #596a13; font-family:'Oswald', sans-serif; line-height:50px; background:url(images/breadcrumb.jpg) repeat;  }
	.breadcrumb .arrow { background:url(images/breadcrumb-arrow.png) no-repeat; width:6px; height:19px; margin:0px 10px 0px 7px; display:inline-block; }
	.breadcrumb a { font-size:20px; color:#c1d56d; }
	.breadcrumb .current-crumb { font-size:30px; color:#fffae4; }
	
	/*----*****---- << Content >> ----*****----*/
	
	.content-right-aligned p, .content-right-aligned h1 { text-align:right; }
	
	.team { float:left; width:100%; }
	.team h1 { margin-bottom:0px; }
	.team .role { padding-bottom:15px; display:block; }
	
		/*----*****---- << Contact >> ----*****----*/
		
		ul.contact-details li { margin:0px; display:block; clear:both; padding-bottom:10px; float:left; width:100%; }
		ul.contact-details span { width:20%; text-align:center; float:left; margin-right:4%; }		
		ul.contact-details span.address { background:url(images/addr-ico-big.png) center no-repeat; height:59px; }
		ul.contact-details span.mail { background:url(images/mail-ico-big.png) center no-repeat; height:20px; }
		ul.contact-details span.phone { background:url(images/phone-ico-big.png) center no-repeat; height:28px; }	
		ul.contact-details p { float:left; width:76%; }
		ul.contact-details p a { text-decoration:underline; color:#4e4635; }
		ul.contact-details p a:hover { color:#687719; }
		
		.enquiry-form form { margin-top:-10px; }
		
		.error { border:1px solid #ff0000 !important; }			 
		#ajax_message { background:#869f1b; padding:5px 10px; color:#fffae4; line-height:24px; margin-bottom:20px; display:none; } 
		#ajax_message p { margin-bottom:0px; }

		
		/*----*****---- << 404 >> ----*****----*/
		
		.error404 .breadcrumb { padding-bottom:0px; }
		.error404 h1.big-title { text-align:center; font-size:100px; color:#282d31; float:left; clear:both; width:100%; margin:-15px 0px 35px; line-height:normal; }
		.back-btn { background:url(images/back-btn.png) no-repeat; width:213px; height:80px; font-family:'Niconne', cursive; line-height:80px; font-size:55px; color:#322f20; padding:0px 0px 0px 37px; text-shadow:1px 1px 0px #dbcaa5; }
		.back-btn:hover { text-decoration:none; }
		.error404 .back-btn { margin:0px 168px 0px 0px; float:right;  }
		
		/*----*****---- << Sidebar >> ----*****----*/
		
		.sidebar h2 { background:url(images/sidebar-title-border.png) bottom repeat-x; float:left; color:#fffae4; font:normal 15px 'Oswald', sans-serif; line-height:38px; padding:0px 0px 5px; margin:0px 0px 20px; text-transform:uppercase; width:220px; }
		.sidebar h2 span { background:url(images/sidebar-title.jpg) repeat-x; display:block; padding:0px 10px; }
		
		.sidebar .widget ul { list-style:none; list-style-position:outside; }
		.sidebar .widget ul li { background:url(images/bullet-green.png) left 1px no-repeat; padding-left:22px; display:block; }
		.sidebar .widget { margin-bottom:20px; float:left; }
		.sidebar a { color:#4e4635; }
		.sidebar a:hover { color:#687719; }
		.sidebar a.book-appointment, .sidebar a.book-appointment:hover { color:#322F20; }
		
		/*----*****---- << Popular Procedures >> ----*****----*/
		
		.box-content-with-design { clear:both; margin:1px 0px 0px; background:#e5deb0 url(images/design-border.png) right top no-repeat; padding:20px 10px; }
		.box-content-with-design h3 { margin-bottom:20px; }
		
		table.price-table { width:100%; border:none; margin-bottom:0px; }
		table.price-table td { border-bottom:1px solid #fffae4; border-top:0px; padding:8px; background:none; }
		table.price-table td.odd { text-align:left; font-size:14px;}
		table.price-table td.even { text-align:right; color:#3e8711; font-size:25px; font-family:'Niconne', cursive; line-height:20px; background:none; } 
		
		/*----*****---- << Blog >> ----*****----*/
		
		.blog-header { float:left; margin:0px 0px -30px; padding:0px; width:100%; }
		
			ul.cat-menu { float:right; list-style-type:none; list-style-position:outside; margin-bottom:5px; }
			ul.cat-menu li { display:inline; float:left; background:url(images/blog-header-splitter.png) left no-repeat; margin:0px; padding:0px; font-size:20px; text-align:center; }
			ul.cat-menu li span { display:none; }
			ul.cat-menu li:hover span { display:block; }                        
			ul.cat-menu li span.active { border-top:10px solid #fffae4; display:block; }
			
			ul.cat-menu li a { font-size:20px; color:#252212; text-transform:uppercase; font-family:'Oswald', sans-serif; padding:0px 10px 0px 13px; position:relative; }
			ul.cat-menu li a:hover { text-decoration:none; }
			ul.cat-menu li span { position:absolute; bottom:-15px; left:48%; right:50%; margin:0 auto; }
			ul.cat-menu li:first-child { background:none; }
			.arrow-down { width:0; height:0; border-left:8px solid transparent; border-right:8px solid transparent; border-top:10px solid #1c1909;  behavior:url(PIE.htc); }
			
			.categories-list { background:url(images/dark-green-bg.jpg) repeat; margin:0px 0px 0px -10px; width:960px; float:left; }
			.categories-list ul { list-style-type:none; list-style-position:outside; margin:0px; float:left; padding:10px 0px 20px; }
			.categories-list ul li { display:inline; float:left; margin:10px 10px 0px; position:relative; padding:0px; }
			.categories-list ul li a { font-size:15px; font-family:'Oswald', sans-serif; line-height:34px; color:#fffae4; padding:0px 30px 0px 10px; background:#2d2914; border-top:2px solid #4a4633; float:left; width:260px; }
			.categories-list ul li a span { position:absolute; right:10px; }
			.categories-list ul li a:hover, .categories-list ul li.active a { text-decoration:none; border-color:#534f3d; background:#534f3d; }
		
		.blog-post { float:left; clear:both; margin:50px 0px 0px -10px; padding:0px 0px 0px 10px; position:relative; overflow:hidden; width:100%; }		
			.post-title { background:url(images/title-bg.jpg) repeat; padding:10px 10px 10px 20px; float:left; width:920px; margin:0px 0px 0px -10px; position:relative; }
			.post-title h2 { font-size:25px; font-family:'Oswald', sans-serif; line-height:50px; float:left; margin:0px; }
			.post-title h2 a { color:#fffae4; }
			.post-title .readmore { float:right; }
			.post-title .readmore:hover { background-color:#bfb092 }
			.post-title .arrow { width:0; height:0; border-right:5px solid #453829; border-top:4px solid #453829; border-left:5px solid transparent; border-bottom:4px solid transparent; position:absolute; bottom:-8px; left:0px;  }
			
			.post-details { background:#f4efd7; height:100%; width:70px; padding:0px; float:left; padding-bottom:2000px; margin-bottom: -1970px; font-family:'Oswald', sans-serif; }				
				.post-details .date, .post-comments { background:#c8bb81 url(images/small-design-border.png) left 12px no-repeat; float:left; width:80px; margin:20px 0px 0px -10px; position:relative; }
				.post-details .day, .post-comments .count { color:#322f20; font-size:35px; float:right; margin-right:3px; text-align:right; }
				.post-details .arrow { width:0; height:0; border-right:5px solid #445600; border-top:4px solid #445600; border-left:5px solid transparent; border-bottom:4px solid transparent; background:none; position:absolute; bottom:-8px; left:0px;  }
				.post-details .date-group, .post-comments span.comment { background:#617b00; float:left; padding-right:3px; width:77px; text-transform:uppercase; color:#d5e695; text-align:right; } 
				.post-details .date-group .month { font-size:20px; line-height:24px; }
				.post-details .date-group .year, .post-comments span { font-size:14px; float:left; width:100%; }
			
			.post-content { float:left; padding:0px; margin:18px 0px 0px 10px; width:860px; }
			.post-content p { margin-bottom:15px; }
			.post-content ul { float:left; }
			.post-thumb { padding-bottom:15px; float:left; margin:0px; width:100%; }
			.post-thumb img { border:5px solid #617b00; }
			
		.pagination { float:left; clear:both; margin:50px 0px 0px; padding:0px; width:100%; font-family:'Oswald', sans-serif; text-shadow:-1px -1px 0px #634e37; font-size:15px; color:#fffae4; position:relative; }
		.pagination a { color:#fffae4; }
		
		.prev-post { background:url(images/prev-post.png) left no-repeat; float:left; padding:8px 0px 7px 11px; position:absolute; left:0px; }
		.prev-post span { background:url(images/btn-bg.jpg) repeat; padding:8px 17px 7px 10px; float:left; }	
		.prev-post span:hover, .next-post span:hover , .prev-post:hover span, .next-post:hover span { background-image:url(images/btn-bg-hover.jpg); }
		.prev-post:hover { background-image:url(images/prev-post-hover.png); text-decoration:none; }
		
		.next-post { background:url(images/next-post.png) right no-repeat; float:right; padding:8px 11px 7px 0px; position:absolute; right:0px; display:block; }
		.next-post span { background:url(images/btn-bg.jpg) repeat; padding:8px 10px 7px 17px; display:block; }
		.next-post:hover { background-image:url(images/next-post-hover.png); text-decoration:none; }
		
		.pagination ul { list-style-type:none; list-style-position:outside; text-align:center; width:100%; margin-top:15px; }
		.pagination ul li { display:inline-block; zoom:1; height:100%; display:inline; margin:0px 5px; }
		.pagination li a { background:url(images/btn-bg.jpg) repeat; padding:8px 17px 7px; height:100%; zoom:1; }
		.pagination ul li.active-page, .pagination li a:hover { background:url(images/btn-bg-hover.jpg) repeat; padding:8px 17px 7px; text-decoration:none; }
		
		.blog-post-social { float:left; margin:20px 0px 0px; padding:0px; width:100%; }
		.blog-post-social a { width:100%; text-align:center; float:left; padding-bottom:15px; }
		.blog-post-social img { opacity: 1; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; behavior:url(PIE.htc); }
		.blog-post-social img:hover { opacity: 0.7; behavior:url(PIE.htc); }
		
		.post-tags { background:url(images/light-bg.jpg) repeat; padding:8px 10px; float:left; margin:0px 0px 0px -10px; width:100%; color:#fffae4; }
		.post-tags a { font-size:12px; color:#fffae4; }
		.post-tags a:hover { color:#5b563d; }
		.post-tags span { background:url(images/tags-ico.png) no-repeat; width:16px; height:16px; float:left; padding-right:10px; }
		
		.comment-entry { float:left; width:100%; clear:both; margin:50px 0px 0px; }
		
			ul.commentlist { float:left; margin:0px; padding:0px 0px 20px; list-style:none; width:100%; }
			ul.commentlist li { display:block; float:none; list-style:none; background:#f4efd7; min-height:118px; border:none; margin:0px 0px 12px 80px; padding:10px 0px; position:relative; clear:both; }
			.gravatar { width:60px; left:-80px; top:0px; height:60px; background:#79634a; border:1px solid #5d5449; position:absolute; padding:4px; }
			.gravatar span { background:#fffae4; width:60px; height:60px; line-height:60px; display:block; text-align:center; }
			.gravatar span img { width:100%; height:100%; }
			
			.comment-author { margin-left:10px; }
			.comment-author cite { font-size:14px; font-weight:bold; font-style:normal; }
			.comment-meta a { clear:both; font-size:12px; color:#4e4635; text-decoration:none; }
			.comment-meta a:hover { text-decoration:underline; }
			
			.reply a { background:#7c664d; float:right; margin:0px 0px 20px 0px;  color:#fffae4; font-size:11px; padding:7px 10px; position:absolute; right:0px; top:0px; }
			.reply a:hover { background:#90a925; text-decoration:none; }
			
			ul.commentlist li ul.children { margin:39px 0px 0px 0px; padding:0px; float:left; border:none; clear:both; width:100%; }		
			
			.comment-body { margin:0px; padding:10px 10px 0px; }
			.comment-body p { color:#5a5a5a; margin-bottom:0px; }
			
			#respond h1 { color:#7e684f; }
						
			#respond input[type="text"], #respond textarea { width:100%; }			
			
			
		ul.related-posts { width:100%; margin:0px; padding:0px; clear:both; float:left; }
		ul.related-posts li { background:#eadbbc; padding:15px 10px 10px; border-bottom:5px solid #bfb092; width:300px; margin-right:20px; display:inline; float:left; }
		ul.related-posts li:hover, ul.related-posts li.active { background:#bfb092; }
		ul.related-posts li img { max-width:280px; padding-bottom:15px; }
		ul.related-posts li p { margin-bottom:15px; }
		
		.related-slider-controls { float:left; clear:both; width:100%; margin:30px 0px 0px; text-align:center; }
		.related-slider-controls a { background:url(images/related-slider-arrows.png) left top no-repeat; width:18px; height:18px; margin:0px 5px; display:inline-block; text-indent:-9999px; }
		.related-slider-controls a:hover, .related-slider-controls a.active { background-position:-18px top; }
		
		.related-slider-controls a.prev-posts, .related-slider-controls a.prev-posts.disabled:hover { background-position:left -18px; width:14px; height:24px; position:relative; top:-3px; }
		.related-slider-controls a.prev-posts:hover { background-position:left -42px; }
		.related-slider-controls a.next-posts, .related-slider-controls a.next-posts.disabled:hover { background-position:-14px -18px; width:14px; height:24px; position:relative; top:-3px; }
		.related-slider-controls a.next-posts:hover { background-position:-14px -42px; }
		
		.related-slider-controls a.next-posts.disabled, .related-slider-controls a.prev-posts.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
		
		.jcarousel-skin-tango .jcarousel-container-horizontal { width:100%; padding:0px; clear:both; }
		.jcarousel-skin-tango .jcarousel-clip { overflow: hidden; }
		.jcarousel-skin-tango .jcarousel-clip-horizontal { width:100%; height:260px; }
		.jcarousel-skin-tango .jcarousel-item { width:280px; height:260px; }
		.jcarousel-skin-tango .jcarousel-item-horizontal { margin-left: 0; margin-right:20px; } 
		.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
		.jcarousel-control { display:inline-block; }
		
		/*----*****---- << Pagination >> ----*****----*/
		
		.page-link { font-size:14px; color:#4E4635; float:left; clear:both; width:100%; margin:30px 0px 0px; }
		.page-link a, .page-link span { background:url(images/btn-bg.jpg) repeat; padding:5px 10px 4px; margin:0px 3px; color:#fffae4; font-size:12px; font-family:'Oswald', sans-serif; }
		.page-link a:hover, .page-link span { background:url(images/btn-bg-hover.jpg) repeat; text-decoration:none; }
		
		.edit-link a { background:#7c664d; float:right; margin:50px 0px -30px; color:#fffae4; font-size:11px; padding:7px 10px; clear:both; }
	    .edit-link a:hover { background:#90a925; text-decoration:none; }		
			
	/*----*****---- << Gallery >> ----*****----*/
	
		#sorting-container { float:left; width:100%; margin:15px 0px 0px; padding:0px; }
		#sorting-container a { background:#9f9a82; color:#3a3a3a; font-size:14px; font-family:'Oswald', sans-serif; margin-right:1px; padding:6px 10px; float:left; display:block; -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; behavior:url(PIE.htc); }
		#sorting-container a.active_sort { color:#fffae4; background:#839c18; }
		#sorting-container a:hover, #sorting-container a.active_sort:hover { background:#786249; color:#fffae4; text-decoration:none; }
		
		.gallery-wrapper { float:left; clear:both; width:100%; margin:50px 0px 0px; }
		.no-margin.gallery-entry { background:#e5deb0; padding:20px 1%; width:31.7%; padding-bottom:2000px; margin-bottom: -1970px; }
		
		.gallery-details-inner { position:relative; overflow:hidden; }
		.gallery-details { clear:both; position:relative; overflow:hidden; width:100%; padding-bottom:50px; }
		
		.gallery-container { width:100%; float:left; margin:0px; }
		.slideshow_container { float:left; margin:0px; padding:0px 0px 1px; width:100%; }			
		
		.gallery-image { margin:0px; padding:0px; display:inline; width:100%; }
		.gallery-image a { position:relative; float:left; cursor:pointer; width:100%; height:100%; display:block; line-height:0; }
		.gallery-image img { width:100%; display:block; }
		.isotope-hidden { display:none !important; }
		
		.gallery-title { float:left; clear:both; margin:1px 0px 1px 0px; padding:0px; width:100%; height:50px; }
		.gallery-title h5 { margin:0px; padding:0px; width:100%; float:left; }
		.gallery-title h5 a { color:#4e4635; background:#ece8d5; text-align:center; float:left; display:block; font-family:'Oswald', sans-serif; line-height:normal; margin:0px; padding:15px 10px; -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; behavior:url(PIE.htc); }
		.gallery:hover .gallery-title h5 a { background:#819a16; color:#fffae4; }
	
		.image-overlay { width:100%; height:100%; background:#303739; left:0px; top:0px; position:absolute; display:block; z-index:100; opacity:0; filter:alpha(opacity=0); -webkit-transition: all 400ms ease-in-out; -moz-transition: all 400ms ease-in-out; -o-transition: all 400ms ease-in-out; transition: all 400ms ease-in-out; behavior:url(PIE.htc); }
		.image-overlay-inside { background:url(images/image-overlay.png) center center no-repeat; width:100%; height:100%; display:block; }
		
		.gallery:hover .image-overlay { opacity:0.9; filter:alpha(opacity=90); }

		.isotope,
		.isotope .isotope-item {
		  -webkit-transition-duration: 0.8s;
			 -moz-transition-duration: 0.8s;
			  -ms-transition-duration: 0.8s;
			   -o-transition-duration: 0.8s;
				  transition-duration: 0.8s;
		}
		
		.isotope {
		  -webkit-transition-property: height, width;
			 -moz-transition-property: height, width;
			  -ms-transition-property: height, width;
			   -o-transition-property: height, width;
				  transition-property: height, width;
		}
		
		.isotope .isotope-item {
		  -webkit-transition-property: -webkit-transform, opacity;
			 -moz-transition-property:    -moz-transform, opacity;
			  -ms-transition-property:     -ms-transform, opacity;
			   -o-transition-property:         top, left, opacity;
				  transition-property:         transform, opacity;
		}
		
		.isotope.no-transition,
		.isotope.no-transition .isotope-item,
		.isotope .isotope-item.no-transition {
		  -webkit-transition-duration: 0s;
			 -moz-transition-duration: 0s;
			  -ms-transition-duration: 0s;
			   -o-transition-duration: 0s;
				  transition-duration: 0s;
		}
		
		
		.gallery { margin-right:1px; float:left; margin-bottom:1px; padding:0px; }
		.gallery-container .no-margin { margin-right:0px; }                
		
		
		.gallery-container .no-margin.one-fourth { width:235px; }
		.with-sidebar .no-margin.one-fourth { width:175px; }
		.one-fourth .gallery, .one-fourth .gallery-title { width:100%; }
		.with-sidebar .one-fourth .gallery, .with-sidebar .one-fourth .gallery-title { width:100%; }
		.one-fourth .gallery-title a { width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
		.one-fourth .gallery-image, .one-fourth .gallery-image img { width:234px; height:180px; }
		.with-sidebar .one-fourth .gallery-image, .with-sidebar .one-fourth .gallery-image img { width:174px; height:134px; }
		
		
		.gallery-container .no-margin.one-half { width:470px; }
		.with-sidebar .no-margin.one-half { width:350px; }
		.with-sidebar .one-half .gallery { width:349px; }
		.one-half .gallery-title a { width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
		.one-half .gallery-image, .one-half .gallery-image img { width:469px; height:380px; }
		.with-sidebar .one-half .gallery-image, .with-sidebar .one-half .gallery-image img { width:349px; height:283px; }
		
		
		.gallery-container .no-margin.one-third { width:313px; }
		.with-sidebar .no-margin.one-third { width:233px; }
		.one-third .gallery, .one-third .gallery-title { width:100%; }
		.with-sidebar .one-third .gallery { width:232px; }
		.one-third .gallery-title a { width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
		.one-third .gallery-image, .one-third .gallery-image img { width:312px; height:253px; }
		.with-sidebar .one-third .gallery-image, .with-sidebar .one-third .gallery-image img { width:232px; height:188px; }
		
	/*----*****---- << Shortcodes >> ----*****----*/
		.shortcodes p { margin-bottom:0px; }
		.shortcodes .button.small { margin-right:8px; }
		.shortcodes .button { margin-bottom:10px; }
		.shortcodes .button.medium { margin-right:4px; }
		.shortcodes .button.big { margin-right:18px; }
		.shortcodes .button.shape { margin-right:12px; }
		.shortcodes .button.shape.left { margin-right:5px; }
		.shortcodes .big-ico-button { margin-bottom:10px; }
		
		/* Tabs */
		.hide { position: absolute; top: -9999px; left: -9999px; }	
		
		.tabs ul { list-style:none; margin:0px 0px 1px; width:100%; float:left; }
		.tabs ul li { margin:0 1px 0 0; float:left; }
		.tabs ul li a { display:block; color:#fffae4; text-shadow:-1px -1px 0px #596a13; font-size:16px; background:url(images/tab-bg.jpg) repeat; text-transform:uppercase; font-family:'Oswald', sans-serif; padding:6px 20px; }
		.tabs ul li:last-child a { border: none; }		
		.tabs .tabnav li a:hover, .tabs .tabnav li a:focus, .tabs .tabnav li a.current { background:url(images/btn-bg-hover.jpg) repeat; }	
		
		.tabs .tab-container { background:#e5deb0; padding:20px 15px; margin:0 0 15px 0; border-bottom:2px solid #c4bc89; clear:both; }
	
		/* Accordion */
		.accordion { list-style:none; margin:0px 0px 20px; padding:0px; width:100%; }
		.accordion li { display:block; list-style:none; width:100%; }
		.accordion li a { float:left; clear:both; padding:7px 10px 8px 13px; margin:1px 0px 0px; color:#fffae4; text-shadow:-1px -1px 0px #596a13; font-size:16px; background:url(images/tab-bg.jpg) repeat; font-family:'Oswald', sans-serif; width:95%; position:relative; }
		.accordion li a span { background:url(images/accordion-hide.png) no-repeat; width:18px; height:18px; right:10px; top:11px; position:absolute; margin-left:10px; }
		.accordion li a.active span { background:url(images/accordion-active.png) no-repeat; top:16px; }
		.accordion li div.holder { padding:10px 15px; clear:both; margin:0px; float:left; width:94%; }
		.accordion li div.holder a { background:none; text-decoration:underline; float:none; clear:none; padding:0px; margin:0px; font-weight:normal; color:#687719; }
		.accordion li div.holder a:hover { background:none; text-decoration:none; }
		
		/* Tooltips */
		.shortcodes .tooltip a { font-size:16px; background:#7b654c; color:#fffae4; text-shadow:-1px -1px 0px #634e37; font-family:'Oswald', sans-serif; padding:7px 10px; width:200px; text-align:center; float:left; margin:10px 0px 0px; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; behavior:url(PIE.htc); box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
		.shortcodes .tooltip a:hover { background:#849d19; }
		#tiptip_holder { display: none; position: absolute; top: 0; left: 0; z-index: 99999; }		
		#tiptip_holder.tip_top { padding-bottom: 5px; }		 
		#tiptip_holder.tip_bottom { padding-top: 5px; }		 
		#tiptip_holder.tip_right { padding-left: 5px; }		 
		#tiptip_holder.tip_left { padding-right: 5px; }		
		
		.tip_bottom #tiptip_content { box-shadow: inset 0px -1px 0px 0px #77735c; -webkit-box-shadow:inset 0px -1px 0px 0px #77735c; -moz-box-shadow:inset 0px -1px 0px 0px #77735c; }
				
		#tiptip_content { padding:6px 10px; color:#a29b7c; font-size:12px; border:1px solid #000000; box-shadow: inset 0px 1px 0px 0px #77735c; -webkit-box-shadow: inset 0px 1px 0px 0px #77735c; -moz-box-shadow: inset 0px 1px 0px 0px #77735c; background: #141208; background: -moz-linear-gradient(top, #141208 9%, #28240c 25%); background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#141208), color-stop(25%,#28240c)); background: -webkit-linear-gradient(top, #141208 9%,#28240c 25%); background: -o-linear-gradient(top, #141208 9%,#28240c 25%); background: -ms-linear-gradient(top, #141208 9%,#28240c 25%); background: linear-gradient(to bottom, #141208 9%,#28240c 25%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141208', endColorstr='#28240c',GradientType=0 ); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; behavior:url(PIE.htc); }		
		#tiptip_arrow, #tiptip_arrow_inner { position: absolute; border-color: transparent; border-style: solid; border-width:6px; height: 0; width: 0; }		
		#tiptip_holder.tip_top #tiptip_arrow { border-top-color: #fff; border-top-color:#141208;  }		
		#tiptip_holder.tip_bottom #tiptip_arrow { border-bottom-color: #fff; border-bottom-color:#141208; }		
		#tiptip_holder.tip_right #tiptip_arrow { border-right-color: #fff; border-right-color:#141208; }		 
		#tiptip_holder.tip_left #tiptip_arrow { border-left-color: #fff; border-left-color:#141208; }		
		#tiptip_holder.tip_top #tiptip_arrow_inner { margin-top: -7px; margin-left: -6px; border-top-color: rgb(25,25,25); border-top-color: rgba(25,25,25,0.92); }		
		#tiptip_holder.tip_bottom #tiptip_arrow_inner { margin-top: -5px; margin-left: -6px; border-bottom-color: rgb(25,25,25); border-bottom-color: rgba(25,25,25,0.92); }		 
		#tiptip_holder.tip_right #tiptip_arrow_inner { margin-top: -6px; margin-left: -5px; border-right-color: rgb(25,25,25); border-right-color: rgba(25,25,25,0.92); }		
		#tiptip_holder.tip_left #tiptip_arrow_inner { margin-top: -6px; margin-left: -7px; border-left-color: rgb(25,25,25); border-left-color: rgba(25,25,25,0.92); }
	
	/*----*****---- << Book Now >> ----*****----*/
	
		.booknow-form { float:left; margin:-10px 0px 0px; padding:0px; width:100%; }
		.booknow-form label { width:145px; float:left; margin:13px 10px 0px 0px; clear:both; }
		.booknow-form p { float:left; clear:both; margin:10px 0px 0px; width:100%; }
		.booknow-form input[type="text"], .booknow-form textarea { margin:0px; width:75%; padding:14px 10px; }
		.booknow-form input[type="radio"] { width:30px; }
		.booknow-form .gender { margin:14px 0px 13px; float:left; }
		.booknow-form select { margin:0px; min-width:148px; font-size:12px; }
		.booknow-form select.day { margin-right:10px; float:left; }
		.booknow-form select#treatment_year { margin-right:0px; }
		.booknow-form select.treatment { width:75%; }
		.booknow-form p.submit { margin:10px 0px 0px 0px; width:auto; float:right; }
		.booknow-page { margin-left:20px; }
		.booknow-page ul.contact-details { padding-bottom:30px; float:left; width:100%; }
		.booknow-page ul.contact-details span { width:15%; }
		
	/*----*****---- << Newsletter >> ----*****----*/
	
	#newsletter { background:url(images/newsletter-bg.png) no-repeat; width:950px; height:94px; clear:both; float:left; margin:50px 0px 0px; padding:55px 5px 0px; }
	#newsletter h2 { font-size:40px; font-family:'Niconne', cursive; float:left; margin:0px 20px 0px 0px; }
	#newsletter input[type="text"] { border:1px solid #bfb092; background:#fffae4; height:37px; padding:0px 10px; font:normal 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif; line-height:34px; width:198px; float:left; margin:0px 10px 0px 0px; }
	#newsletter input[type="submit"] { margin:0px; float:left; }
	
	/*----*****---- << Footer >> ----*****----*/
	
	#footer { float:left; clear:both; width:100%; background:url(images/footer-bg.jpg) repeat; border-top:5px solid #100b09; padding-bottom:5px; color:#afa38a; }
	
	#footer .one-fourth h2 { width:100%; }
	#footer .one-fourth ul li { width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
	#footer h2 { background:url(images/footer-title-border.png) bottom repeat-x; color:#221d1b; font:normal 22px 'Norican', cursive; line-height:50px; padding:0px 0px 7px; margin:0px 0px 30px; clear:both; }
	#footer h2 span { background:url(images/footer-title.jpg) repeat-x; display:block; padding:0px 10px; }
	
	#footer a { color:#afa38a; }
	#footer a:hover { color:#ebe6d2; text-decoration:none; }
	
	#footer h6 a { font-weight:bold; }
	
	#footer .widget ul li { background:url(images/bullet-sandal.png) left top no-repeat; }
	#footer .widget ul li a { text-decoration:none; }
	
	.widget .testimonial-carousel li { clear:none; }
	.testimonial-skin-carousel .jcarousel-container { width:220px; }
	.testimonial-skin-carousel .jcarousel-container-horizontal { width: 220px; padding:0px; }
	.testimonial-skin-carousel .jcarousel-clip { overflow: hidden; }
	.testimonial-skin-carousel .jcarousel-clip-horizontal { width:222px; height:auto; }
	.testimonial-skin-carousel .jcarousel-item { width:220px; height:auto; }
	.testimonial-skin-carousel .jcarousel-item-horizontal { margin-right:20px; }
	.testimonial-skin-carousel .jcarousel-direction-rtl .jcarousel-item-horizontal { margin: 10px; }
	.testimonial-skin-carousel .jcarousel-item-placeholder { background: #fff; color: #000; }
	.testimonial-nav { margin:20px 0px 0px; clear:both; float:left; width:100%; }
	.testimonial-skin-carousel .jcarousel-prev-horizontal { background:url(images/testimonial-nav.png) left top no-repeat; width:22px; height:22px; float:left; margin:10px 0px 0px; cursor:pointer; }
	.testimonial-skin-carousel .jcarousel-prev-horizontal:hover { background-position:left -22px; }
	.testimonial-skin-carousel .jcarousel-next-horizontal { background:url(images/testimonial-nav.png) -22px top no-repeat; width:22px; height:22px; float:right; margin:10px 0px 0px; cursor:pointer; }
	.testimonial-skin-carousel .jcarousel-next-horizontal:hover { background-position:-22px -22px; }
	
	.testimonial-skin-carousel .jcarousel-next-disabled, .testimonial-skin-carousel .jcarousel-prev-disabled { opacity:0.4; filter:alpha(opacity=40); cursor:auto; }
	.testimonial-skin-carousel .jcarousel-next-disabled:hover { background:url(images/testimonial-nav.png) -22px top no-repeat; }
	.testimonial-skin-carousel .jcarousel-prev-disabled:hover { background:url(images/testimonial-nav.png) left top no-repeat; }
	
	#footer .widget .testimonial-skin-carousel ul li { width:220px; background:none; padding:0px; }	
	#footer blockquote { color:#afa38a; float:left; background:none; border:none; padding:0px; margin-top:0px; }
	#footer blockquote span { color:#afa38a; float:right; clear:both; margin:25px 0px 0px; }
	
	.widget.social-widget li { position:relative; overflow:hidden; width:31px; height:31px; background:none; padding-left:0px; padding-bottom:10px; clear:none; margin:5px 8px 0px 0px; display:inline; float:left; }
	.social-widget li img { top:0px; left:0px; position:absolute; }
	
	#footer .widget.social-widget li, .sidebar .widget.social-widget li  { width:31px; background:none; padding:0px; }
	
	#footer .widget.social-widget h2 { font-weight:bold; color:#afa38a; background:none; padding:0px; font-family:Tahoma, Geneva, sans-serif; font-size:12px; line-height:normal; height:auto; margin-bottom:10px; }
	#footer .widget.social-widget h2 span { background:none; padding:0px; height:auto; }
	
	.footer-bottom { background:url(images/footer-bottom-bg.jpg) repeat; width:100%; float:left; padding:20px 0px; box-shadow:0px -1px 6px #0c0c0c; -moz-box-shadow:0px -1px 6px #0c0c0c; -webkit-box-shadow:0px -1px 6px #0c0c0c; }
	.footer-bottom p { margin:0px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#514b37; }
